<div class="container" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-sm-1 vertical-pane">
            <ul class="nav nav-stacked affix">
                <li ng-repeat="customer in customers" ng-click="updateChapters(customer)">
                    <span class="btn btn-link btn-lg">
                        {{customer}}</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-2 well vertical-pane">
            <div class="well" ng-repeat="chapter in filteredChapters"
                 ng-click="updateChapterContents(chapter)">
                {{chapter.title}}
            </div>
        </div>
        <div class="col-sm-8 vertical-pane">
            <span class="btn btn-link btn-lg" ng-click="saveChapter()">Save</span>
            <textarea ckeditor="editorOptions" ng-model="selectedChapterContents"></textarea>
        </div>
    </div>
</div>