<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-stacked affix">
                <li><a href="#">Customer 1</a></li>
                <li><a href="#">Customer 2</a></li>
                <li><a href="#">Customer 3</a></li>
                <li><a href="#">Customer 4</a></li>
            </ul>
        </div>
        <div class="col-sm-3 well">
            <div>
                <div class="well">Book 1 - Chapter 1</div>
                <div class="well">Book 1 - Chapter 2</div>
                <div class="well">Book 2 - Chapter 1</div>
                <div class="well">Book 2 - Chapter 2</div>
            </div>
        </div>
        <div class="col-sm-7">

        </div>
    </div>
</div>


<!--<div class="container-fluid">-->
<!--<div class="row" ng-controller="MainCtrl">-->
<!--<div class="col-md-2">-->
<!--<div class="row">Customer1</div>-->
<!--<div class="row">Customer2</div>-->
<!--<div class="row">Customer3</div>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<div class="row">Chapter1</div>-->
<!--<div class="row">Chapter2</div>-->
<!--<div class="row">Chapter3</div>-->
<!--</div>-->
<!--<div class="col-md-7">-->
<!--<div class="row">Content1</div>-->
<!--<div class="row">Content2</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--<div class="row">Content3</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->